        .homepage {
            max-width: 1200px; 
            margin: 0 auto;
            padding: 20px;


        }

        .cards {
            display: grid;
            grid-template-columns: auto auto; 
            gap: 90px 90px; 
        }

        /* .cards > div { 
            border: 1px solid #ddd;
            padding: 15px;
            text-align: center;
            box-sizing: border-box;  */
        

        .card-images img {
            width: 100%;
            height: auto;
            display: block;
        }
.masai-mara{ 
grid-column:1;
grid-row:1;
}
.diani{
grid-column:2;
grid-row:1;
}
 .nakuru{
grid-column:1;
grid-row:2;
}
.nairobi-park{
grid-column:2;
grid-row:2;
}
 .amboseli{
grid-column:1;
grid-row:3;
}
.mukurwe-thanga {
grid-column:2;
grid-row:3;
}
 .mt-kenya {
grid-column:1;
grid-row:4;
}
.mombasa{
grid-column:2;
grid-row:4;
}
.masai-mara,.diani ,.nakuru, .nairobi-park, .amboseli, .mukurwe-thanga , .mt-kenya ,.mombasa{
  
            border: 6px solid #080303;
            padding: 20px;
            text-align: center;
            box-sizing: border-box; 
            width:100%;
            height:fit-content
}
