
header p:first-child {
    font-size: xx-large;
}

header p:last-child {
    font-size: medium;
}
h1 {
    font-size: 3em;
}

h2 {
    font-size: 1.2em;
}

h3 {
    font-size: 2.5em;
}

h4 {
    font-size: 2em;
}
p {
    font-size: 1.7em;
}
a:hover {
    text-emphasis-color: rgb(162, 61, 10);
    color: rgb(0, 255, 106);
  }