body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #2c3e50;
}

 

main {
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #2c3e50;
}

.flight-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.flight-card {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
  text-align: left;
}

.flight-card img {
  width: 100px;
  height: auto;
  margin-bottom: 10px;
}

.flight-card h3 {
  color: #ff4500;
  margin-bottom: 10px;
}

.flight-card p {
  margin: 5px 0;
  font-size: 14px;
  color: #2c3e50;
}

.book-now-button {
  display: inline-block;
  background-color: #28a745;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.book-now-button:hover {
  background-color: #218838;
}
 

@media (max-width: 768px) {
  .flight-cards {
    flex-direction: column;
    align-items: center;
  }

  .flight-card {
    width: 90%;
  }

  header .homeheader {
    flex-direction: column;
    gap: 10px;
  }
}
 